<div class="container">
  <div class="questionnaires_<%= action_name %>">
    <h1>
      Surveys
    </h1>
    <hr>
    <% if @surveys.empty? %>
      <p> There are no surveys </p>
    <% end %>
      <p>
        <%= render 'survey_label_all' %> <br /> <br />
        Filter by category:
        <%= form_tag(surveys_path, method: "get") do %>
          <%= select_tag :category, options_from_collection_for_select(Category.select(:category).uniq, :category, :category, :selected => :category) %>
          <%= submit_tag 'Go', class: 'btn btn-primary' %>
        <% end %>
      </p>
    <% if !@surveys.empty? %>
      <table class='table table-nonfluid survey-table'>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Questions</th>
            <th>Participants</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'survey', collection: @surveys %>
        </tbody>
      </table>
      <%= paginate @surveys %>
    <% end %>
  </div>
</div>
